{% extends [getParameter('layout')|default(''), '@DakataaCrudTwig/layout/default/auto.html.twig'] %}

{%- block title -%}View{% endblock title %}

{% block body %}
    <section class="edit">
        {% block body_header %}
            <header>
                <div class="wrap">
                    <h2 class="title">
                        <a href="{{ generatePath('list') }}">&larr;</a>
                        {% block body_title %}
                            {{ block('title') }}
                        {% endblock %}
                    </h2>
                    {% block body_navigation %}
                        <nav class="nav">
                            {% block body_header_navigation %}
                                {% if hasAction('edit') %}
                                    <a class="btn btn-outline-primary"
                                       href="{{ generatePath('edit', {id: entityPrimaryKey(object)}) }}">Edit</a>
                                {% endif %}
                            {% endblock %}
                        </nav>
                    {% endblock %}
                </div>
            </header>
        {% endblock %}
        <main>
            {% block body_content %}
                {% for column in columns %}
                    <div class="row mb-3">
                        <div class="col-12 col-lg-4">
                            <strong>{{ column.label }}</strong>
                        </div>
                        <div class="col-12 col-lg-8">
                            {{ data[column.field]|default('-') }}
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
            {% endblock %}
        </main>
    </section>
{% endblock %}
